.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
    
  .calculator {
    display: flex;
    flex-direction: column;
    background-color: #555;
    width: 100%;
    max-width: 300px;
    min-height: 600px;
    border-radius: 1rem;
    overflow: hidden;
  }
    

  @media (max-width: 400px) {
    .calculator {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
      overflow-y: hidden;
      overflow-x: hidden;
    }
    .main {
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
  
@media (max-width: 375px) {
  .calculator {
    max-width: 375px;
  }
}


  /* @media (max-width: 400px) {
    .calculator {
      max-width: 400px;
      max-height: 900px;
      border-radius: 0;
      outline: none;
    }

    .main {
      background-color: #373737;
      outline: none;
    }
  }

  @media (max-width: 375px) {
    .calculator {
      max-width: 375px;
    }
  } */
