.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
    
  .calculator {
    display: flex;
    flex-direction: column;
    background-color: #555;
    width: 100%;
    max-width: 300px;
    min-height: 600px;
    border-radius: 1rem;
    overflow: hidden;
  }
    
   
  @media (max-width: 400px) {
    .calculator {
      max-width: 400px;
      max-height: 800px;
      border-radius: 0;
    }
  }