.buttons {
    height: 320px;
    width: 300px;
    color: #fff;
    background-color: #373636db;
    padding: 1.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    cursor: pointer;
  }
  
  .button {
    position: relative;
    display: block;
    margin-top: 1rem;
    transition: 0.2s;
    user-select: none;
    outline: none;
  }

  .button p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.5rem 1rem;
  }
  
  .only p {
    font-size: 1.3rem;
    border-radius: 50%;
    padding: 0.8rem 1rem;
  }

  .equal p {
    background-color: rgb(28, 141, 246);
    padding: 30px 15px;
    margin-top: 2rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    float: 500;
  }
  
  .decimal {
    margin-top: -2px;
    padding: 1rem;
  }

  .action{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(28, 141, 246);
    font-weight: 500;
    font-size: 1.3rem;
  }


  @media (max-width: 768px) {
    .buttons {
      cursor: none;
    }
  }

  @media (max-width: 400px) {
    .buttons {
      width: 100%;
      height: 50%;
    }
  }



/*   
  @media (max-width: 400px) {
    .buttons {
      width: 100%;
      height: 370px;
    }
  }

  @media (max-width: 375px) {
    .buttons {
      width: 100%;
      height: 370px;
    }
  }
 */














